/*geral*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, "times";
    background-color: #868997;
}
/*formulário*/
#formulario {
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    max-width: 800px;
}
/*título dos campos*/
label {
    font-size: 16px;
    font-weight: bold; /*peso ou intensidade da fonte*/
    color: #333333;
}
/*campos de texto*/
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    /* se quiser que ocupe todo o espaço do form witdh: 100% */
}

/*campo de opções*/
input[type="radio"],
input[type="checkbox"]
{
    margin-right: 5px;
}

/*botões*/
input[type="submit"],
input[type="reset"],
button[type="button"]
{
    padding: 10px 20px;
    border: none; /*a largura, o estilo e a cor*/
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
    cursor: pointer;
    margin-right: 10px;
}

/*botão cancelar*/
button[type="button"]
{
    background-color: #270f4948;
}

/*campos de seleção*/
select{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px; /*define cantos*/
    font-size: 16px;
    width: 50%;
    margin-bottom: 100px;
    background-image: linear-gradient(#dd2626, #7889e9);
}

/*quando selecionar campo de seleção*/
select:focus {
    outline: 2px solid greenyellow;
    border-color: #333333;
}

/*legenda dos campos*/
legend{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

/*mensagens de erro*/
input:invalid{
    border: 2px solid red;
}

.radape {
    margin: 0 auto;
    text-align: center; /*ou width: 50% ou a largura desejada*/
}
