body {
    background: rgb(199, 243, 170) url(foto1.jpg);
      background-repeat: no-repeat;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
  sans-serif;
  line-height: 1.5;
  }
  
  
  .container {
  margin: 0 auto;
  width: 960px;
  }
  
  article {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-color: #CCC #999 #999 #CCC;
  margin-bottom: 20px;
  padding: 10px;
  }
  
  
  article h2 {
  border-bottom: 1px dashed rgb(50, 122, 150);
  margin: 0;
  }
  
  article img {
  border: 1px solid rgb(16, 67, 160);
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px;
  width: 160px;
  height: 160px;
  }
  
  article a { 
  color: rgb(121, 235, 130);
  font-weight: bold;
  }
  
  header h1 a {
  color: rgb(49, 51, 165);
  text-decoration: none;
  margin-left:250px;
  }
  
  header h1 a:hover {
  background-color: #7E9F19;
  color: #FFF;
  }
  
  .clear { 
  clear: both;
  }
  
  footer {
  font-size: 12px;
  text-align: center;
  }
  
  section { 
  float: left;
  width: 660px;
  }
  
  aside {
  background-color: rgb(171, 240, 157);
  border: 1px solid rgb(252, 72, 2);
  padding: 10px;
  float: right;
  width: 260px;
  }
  
  aside h3 {
  font-size: 14px;
  margin-top: 0;
  }
  
  aside ol {
  font-size: 12px;
  }
  
  